<div class="well">
  <div class="row">
  	<div class="col-lg-6">
		  <%= form_tag(movies_path, :method => "get", id: "search-form", role: "search") do %>
		  	<div class="input-group">
			  	<%= text_field_tag :search, params[:search], placeholder: "Trouver un film", class: "form-control" %>
			  	<span class="input-group-btn">
				  	<%= button_tag :class=> "btn btn-default" do %>
					  	<%= fa_icon "search" %>
					  <% end %>
			  	</span>
		  	</div>
			<% end %>
  	</div>
	  <div class="col-lg-6">
	    <div class="input-group">
	    <%filter = [ "Tout", "Ajout Récent", "Par date décroisssante", "Par date croisssante", "Prix max", "Prix min"]%>
	      <div class="input-group-btn">
	        <%= form_tag movies_path, :method => 'get', :id=> "select-filter" do %>  
					  <%= select_tag "filter", options_for_select(filter, params[:filter]), class: 'filter form-control' %>
					<% end %>
	      </div>	
	    </div>
	  </div>
  </div>
</div>

<%# content %>
<div class="row">
	<div class="col-sm-9">
		<div class="row movies">
			<%# all movies %>
	  	<% if @movies.present? %>
	  		<% @movies.each do |movie| %>
			  	<%= render "movies/partials/movie", movie: movie %>
			  <% end %>
			<% else %>
			  <blockquote>
			  	<p>
			  		Il n'y a aucun film correspondant à votre recherche 
			  		<strong><mark><%= params[:search] %></mark>.</strong>
			  	</p>
				</blockquote>
			<% end %>
		</div>
	</div>
	<%= render "movies/partials/sidebar" %>
</div>