<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/partials/flash" %>
<%= render "layouts/partials/header"%>
<div class="container">
	<%= yield %>
</div>
<%= render "layouts/partials/footer"%>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</body>
</html>
